/* —————————————— Ajustes Globales —————————————— */

:root {
    --verdeOscuro: #184848;
    --verdeNormal: #006060;
    --verdeClaro: #007878;
    --verdePantano: #A8C030;
    --crema: #F0F0D8;
}

@font-face {
    font-family: "Jakarta-Regular";
    src: url("./fonts/PlusJakartaSans-Regular.ttf");
}

@font-face {
    font-family: "Jakarta-Bold";
    src: url("./fonts/PlusJakartaSans-ExtraBold.ttf");
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("./fonts/BebasNeue-Regular.otf");
}


body, *{
    margin: 0;
    padding: 0;
}
body{
    background-color: #007878;
    font-family: "BebasNeue-Regular";
}
a img{
    width: 4vw;
    max-width: 50px;
}

/* —————————————— Página de inicio —————————————— */

.main {
    display: flex;
    flex-direction: row;
    margin: 50px;
    border: 1px solid #000;    
    color: #fff;
}

.titPrincip {
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.left > .instructions, 
.left > .top3main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.instructions > h3, .top3main > h3 {
    font-size: 30px;
}

.instructions > p, .top3main > p {
    font-size: 20px;
}

.top3main > a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    background: var(--crema);
}


.right {
    width: 60%;
    display: flex;
    margin: 50px;
    background: var(--verdeOscuro);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}


/* —————————————— Página de win & lose —————————————— */

.circle {
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    border-radius: 50%;
}