body, *{
    margin: 0;
    padding: 0;
}
body{
    background-color: #007878;

}
a img{
    width: 4vw;
    max-width: 50px;
}

/* Página de inicio */



/* Página de win & lose */

.circle {
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    border-radius: 50%;
}