body, *{
    margin: 0;
    padding: 0;
}
body{
    background-color: #007878;

}
a img{
    width: 4vw;
    max-width: 50px;
}
.langs{
    margin: 1vw;
    text-align: right;
}
h1{
    text-align: center;
}
.main{
    display: flex;
}
.left{
    width: 50%;
}
#juanra{
    width: 40vw;
}
.right{
    border: 1px solid #184848;
    background-color: #006060;
    display: flex;
}
.play{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: auto;
}
.play h2{
    text-shadow: 3px 3px 3px black;
    font-size: 3rem;
    color: white;
}
.btnplay{
    width: 10vw;
    height: 5vh;
    margin:auto;
    background-color: #a8c030;
}